@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.App {
  text-align: center;
}

.App-background {
  /* background-color: #282c34; */
  background-image: url(./images/bg-intro-desktop.png) ;
  background-color: hsl(0, 100%, 74%);
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Poppins', sans-serif;
}

.leftSide{
  text-align: left;
  /* color: white; */
  width: 40%;
  padding:20px;
  max-width: 550px;
  
}

.leftSide h1{
  font-size: 48px;
}

.leftSide p{
  /* color: white; */
  font-size: 16px;
  font-weight: 500;
  padding: 0px;
  margin: 3px;
}

.rightSide{
  width: 40%;
  max-width: 550px;
}


.rightSideCard{
  background-color: white;
  color: hsl(246, 25%, 77%);
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 5px rgba(116,112,137, .6);
}

.rightHeader{
  width: 90%;
  /* height: 10 px; */
  background-color: hsl(248, 32%, 49%);
  padding: 20px 10px;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 0px 5px rgba(116,112,137, .6);
}
.field{
  position: relative;
}
.field input{
  display: block; 
  width: 83%; 
  text-align: left;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  /* color: hsl(246, 25%, 77%); */
  color: hsl(249, 10%, 26%);
  border-color: hsl(246, 25%, 77%);
  padding: 15px 10px 15px 30px;
  margin: 15px auto;
  
}

.field input:focus{
  outline: 1px solid hsl(249, 10%, 26%);
  /* border-color: hsl(249, 10%, 26%); */
}

.field .defaultHidden{
  border-color: hsl(0, 100%, 74%);
  border-width: 3px;
}

.field .defaultHidden::-webkit-input-placeholder { /* WebKit browsers */
  opacity: 0;
}


.field .hidden {
  display: none;
  /* border: 5px solid #555; */
}

.field .emailHidden{
  border-color: hsl(0, 100%, 74%);
  border-width: 3px;
}

.field .emailHidden::placeholder{
  color:hsl(0, 100%, 74%);
}

.field img { /* position image */
  position: absolute;
  right: 60px;
  top: 17px;
}

.field .small{
  color:hsl(0, 100%, 74%);
  text-align: right;
  font-size: 12px;
  font-style: italic;
  /* padding: 0px; */
  margin: 0px ;
  width: 94%
}

.freeButt{
  width: 90%;
  background-color: hsl(154, 59%, 51%);
  border: none;
  border-radius: 10px;
  padding: 15px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin: 15px 0px 5px 0px;
}

.freeButt:hover{
  background-color: hsl(154, 59%, 51%);
  opacity: .5;
}

.terms{
  font-size: 12px;
  color: hsl(246, 25%, 77%);
  margin: 15px 0px 20px 0px;
}

footer{
  position: fixed;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
}

.bolded { font-weight: bold; }

.boldColor { font-weight: bold; color:hsl(0, 100%, 74%); }